<app-nav></app-nav> 
<div class="container-flex">
    <div class="cont-back">
        <div class="row">
            <div class="col">
                <h1>DASHBOARD</h1>
            </div>
            <div class="col-6">
                <button class="btn btn-primary float-end" [routerLink]="['/add-user']">Add new user</button>
            </div>
        </div>
        <table id="table" class="table">
            <thead class="table-light">
                <tr>
                    <th>ID</th>
                    <th>Email</th>
                    <th>Username</th>
                    <th>Password</th>
                    <th>Edit</th>
                    <th>Delete</th>
                </tr>
            </thead>
            <tbody>
                <!-- Los datos se cargarán dinámicamente aquí -->
            </tbody>
        </table>
    </div>
</div>
