<div class="cont">
    <div class="cont-back">
        <div class="row">
            <div class="col">
                <h1>DASHBOARD</h1>
            </div>
            <div class="col-6">
                <button class="btn btn-primary float-end" [routerLink]="['/add-user']">Add new user</button>
            </div>
        </div>
        <table class="table ">
            <thead class="table-light">
                <tr>
                    <th>
                        ID
                    </th>
                    <th>
                        Username
                    </th>
                    <th>
                        Password
                    </th>
                    <th>

                    </th>
                    <th>

                    </th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of userList">
                    <td>{{ item.id }}</td>
                    <td>{{ item.username }}</td>
                    <td>{{ item.password }}</td>
                    <td>
                        <button class="btn btn-warning float-end" [routerLink]="['/edit-user', item.id]">Edit</button>
                    </td>
                    <td>
                        <button class="btn btn-danger float-end" (click)="deleteUser(item.id)">Delete</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>