<div class="container">
    <div class="row">
        <div class="col">
            <h1>Dashboard</h1>
        </div>
        <div class="col-6">
            <button class="btn btn-primary float-end">Agregar nuevo usuario</button>
        </div>
        <table class="table">
            <thead class="table-light">
                <tr>
                    <th>
                        ID
                    </th>
                    <th>
                        Username
                    </th>
                    <th>
                        Password
                    </th>
                    <th>

                    </th>
                    <th>

                    </th>
                </tr>
            </thead>

            <tbody>
                <tr *ngFor="let item of userList">
                    <td>{{ item.id }}</td>
                    <td>{{ item.username }}</td>
                    <td>{{ item.password }}</td>
                    <td>
                        <button class="btn btn-warning float-end">Editar</button>
                    </td>
                    <td>
                        <button (click)="deleteUser(item.id)" class="btn btn-danger float-end">Eliminar</button>
                    </td>
                </tr>
            </tbody>

        </table>

    </div>