nav{
    background: white;
    margin-bottom: 1rem;
}
.navbar-brand {
    font-size: 2rem;
    background: linear-gradient(to right, #0044c2, rgba(177, 195, 255, 0.562)); 
    -webkit-background-clip: text; 
    background-clip: text;
    color: transparent;
}
#logout{
    color: rgb(255, 0, 0);
    font-weight: bold; 
}
