.cont {
    display: flex;
    width: 100%; 
    height: 100vh;
}

.title-container {
    flex: 1;
    display: flex;
    margin: 50px;
    justify-content: center; 
    align-items: center;
}

.buttons-container {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center;
    background: #ffffff; 
}

h1 {
    font-size: 10vw;
    margin: 0;
    background: linear-gradient(to right, #0044c2, rgba(177, 195, 255, 0.562)); 
    -webkit-background-clip: text; 
    background-clip: text;
    color: transparent;
}

p {
    margin-top: 30px;
}

.form{
    width: 50vh;
    height: 50vh;
    
  
}
