<div class="cont">
    <div class="cont-back">
        <h1>{{action}}</h1>
        <form [formGroup]="addUser" (ngSubmit)="addEditUser()">
            <div class="mb-3">
                <label class="form-label">Email</label>
                <input formControlName="email" type="text" class="form-control" id="email">
            </div>
            <div class="mb-3">
                <label class="form-label">Username</label>
                <input formControlName="username" type="text" class="form-control" id="username">
            </div>
            <div class="mb-3">
                <label class="form-label">Password</label>
                <input formControlName="password" type="text" class="form-control" id="password">
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
            <a class="btn btn-secondary" [routerLink]="['/dashboard']">Back</a>
        </form>
    </div>
</div>