<app-nav></app-nav>
<div class="cont">
    <div class="cont-back">
        <h1>{{action}}</h1>
        <form [formGroup]="addUser" (ngSubmit)="addEditUser()">
            <div class="mb-3">
                <label for="email" class="col-form-label">Email</label>
                <input type="email" class="form-control" id="email" formControlName="email" required>
                <div
                    *ngIf="addUser.get('email')?.invalid && (addUser.get('email')?.dirty || addUser.get('email')?.touched)">
                    <small class="text-danger">Email is required and must be a valid email address.</small>
                </div>
            </div>
            <div class="mb-3">
                <label for="username" class="col-form-label">Username</label>
                <input type="text" class="form-control" id="username" formControlName="username" required>
                <div
                    *ngIf="addUser.get('username')?.invalid && (addUser.get('username')?.dirty || addUser.get('username')?.touched)">
                    <small class="text-danger">Username is required.</small>
                </div>
            </div>
            <div class="mb-3">
                <label for="password" class="col-form-label">Password</label>
                <input [type]="passwordType" class="form-control" id="password" formControlName="password" required>
                <div
                    *ngIf="addUser.get('password')?.invalid && (addUser.get('password')?.dirty || addUser.get('password')?.touched)">
                    <small class="text-danger" *ngIf="addUser.get('password')?.hasError('required')">Password is
                        required.</small>
                    <small class="text-danger" *ngIf="addUser.get('password')?.hasError('minlength')">Password must be
                        at least 8 characters long.</small>
                    <small class="text-danger" *ngIf="addUser.get('password')?.hasError('passwordStrength')">Password
                        must contain at least one special character.</small>
                </div>
            </div>
            <div class="mb-3" *ngIf="action === 'Add new user'">
                <label for="confirmPassword" class="col-form-label">Confirm Password</label>
                <input [type]="passwordType" class="form-control" id="confirmPassword" formControlName="confirmPassword"
                    required>
                <div
                    *ngIf="addUser.get('confirmPassword')?.invalid && (addUser.get('confirmPassword')?.dirty || addUser.get('confirmPassword')?.touched)">
                    <small class="text-danger" *ngIf="addUser.hasError('passwordMismatch')">Passwords must
                        match.</small>
                    <small class="text-danger" *ngIf="addUser.get('confirmPassword')?.hasError('required')">Confirm
                        Password is required.</small>
                </div>
            </div>
            <div class="mb-3">
                <input type="checkbox" id="showPassword" (change)="togglePasswordVisibility($event)">
                <label for="showPassword">Show Password</label>
            </div>
            <button type="submit" class="btn btn-primary" [disabled]="addUser.invalid">Submit</button>
            <a class="btn btn-secondary" [routerLink]="['/dashboard']">Back</a>
        </form>
    </div>
</div>