<h1>LOGIN</h1>
<form [formGroup]="loginForm" (ngSubmit)="login()">
    <div class="mb-3">
        <!-- type="email"-->
        <label class="form-label">Email</label>
        <input formControlName="username" type="text" class="form-control" id="username" required>
    </div>
    <div class="mb-3">
        <label class="form-label">Password</label>
        <input formControlName="password" type="password" class="form-control" id="password" required>
    </div>
    <div class="butt">
        <button type="submit" class="btn btn-primary">Login</button>
    </div>
</form>

